@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --cor-de-fundo: #FFDBB5;
    --cor-primaria: #6C4E31;
    --cor-secundária: #96763f;
    --font: 'Nunito' sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-primaria);
    height: 100vh;
    font-family: var(--font);
}

header{
    background-color: var(--cor-primaria);
    text-align: center;
    /* Alinhamento do texto */
}

h1{
    color: var(--cor-de-fundo);
    /* Cor da fonte */
    font-size: 2rem;
    /* Tamanho da fonte */
    font-weight: 700; 
    /* "Peso" da fonte */
}

nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a{
    /* text-decoration serve para adicionar ou remover
    uma decoração no texto */
    text-decoration: none;
    color: var(--cor-de-fundo);
    /* Espaçamento externo */
    margin: 0 2rem 1rem 0;
    font-size: 1.2rem;
}
/* Links que estão dentro da tag nav, estilização para
quando passa o mouse em cima */
nav a:hover{
    text-decoration: underline;
    /* Reduz o tamanho */
    transform: scale(0.9);
    /* Cria uma transição com 0.5s para o transform */
    transition: transform 1.5s;
}

span{
    color: var(--cor-secundária);
    font-weight: bold;
}

footer{
    background-color: var(--cor-primaria);
    color: var(--cor-de-fundo);
    text-align: center;
}


.graficos-container{
    margin: 5rem;
}

.graficos-texto{
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    border: var(--cor-secundária) solid 2px;
}